# Cloudflare D1
CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_DATABASE_ID=""
CLOUDFLARE_D1_TOKEN=""

# A secret value used for encryption and hashing. It must be at least 32 characters and generated with high entropy.
# You can use openssl rand -base64 32 to generate one.
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=